<div id="parameterbox">
  <div id="parameterboxtitle">Parameters</div>
  <div id="parameterdata" >

    <div id="allowloginsbox">
      <div id="allowloginslabel">Allow Users Login:</div>
      <div id="allowloginsvalue">&nbsp;</div>
      <input id="allowloginsbutton" type="button" value="Change Allow Logins" />
    </div>

    <div id="amountbox">
      <div id="amountlabel">Amount:</div>
      <div id="amountvalue">&nbsp;</div>
      <input id="amountbutton" type="button" value="Change Amount" />
    </div>

    <div id="requiredusersbox">
      <div id="requireduserslabel">Required Users:</div>
      <div id="requiredusersvalue">&nbsp;</div>
      <input id="requiredusersbutton" type="button" value="Change Req Users" />
    </div>

    <div id="autoplaybox">
      <div id="autoplaylabel">AutoPlay:</div>
      <div id="autoplayvalue">&nbsp;</div>
      <input id="autoplaybutton" type="button" value="Change AutoPlay" />
    </div>

    <div id="requirepasswordsbox">
      <div id="requirepasswordslabel">Require Passwords:</div>
      <div id="requirepasswordsvalue">&nbsp;</div>
      <input id="requirepasswordsbutton" type="button" value="Change Require PWD" />
    </div>

  </div>

</div>