
<div id="buttonpanel2" >
  <div id="senderbuttons" >
    <div id="senderbuttonslabel" >
      Results for when you were a sender:
    </div>
    <%= render :partial => "buttongroup1" %>
  </div>

  <div id="receiverbuttons" >
    <div id="receiverbuttonslabel" >
      Results for when you were a receiver:
    </div>
    <%= render :partial => "buttongroup2" %>
  </div>

</div>