
<div id="buttonpanel" >

<input id="unkbutton" type="button" value="Unknown Age Group" />

<input id="samebutton" type="button" value="Same Age Group" />

<input id="diffbutton" type="button" value="Older Age Group" />

<input id="donebutton" type="button" value="Done" />

</div>