<div id="buttongroup2" >

<input id="unkbutton2" type="button" value="Unknown Age Group" />

<input id="samebutton2" type="button" value="Same Age Group" />

<input id="diffbutton2" type="button" value="<%=@diffbuttonvalue%>" />

<input id="donebutton" type="button" value="Done" />

</div>