

<div id="resultsleft">
  <div id="plotareafalsemsg" ></div>

  <div id="falsemsgguesstext" >
    Your Guess:
  </div>
    <div id="falsemsgguess" ></div>

  <div id="falsemsgactualtext" >
    Actual:
  </div>
  <div id="falsemsgactual" ></div>


  <div id="falsemsgearnedtext" >
    Amount Earned:
  </div>
    <div id="falsemsgearned" ></div>
</div>

<div id="resultsright">
  <div id="plotareachallenge" ></div>

  <div id="challengemsgguesstext" >
    Your Guess:
  </div>
  <div id="challengemsgguess" ></div>

  <div id="challengemsgactualtext" >
    Actual:
  </div>
  <div id="challengemsgactual" ></div>

  <div id="challengemsgearnedtext" >
    Amount Earned:
  </div>
  <div id="challengemsgearned" ></div>

</div>