<ul id="marquee" class="marquee">
  <li>
    Please wait .....................
  </li>
  <li>
    Experiment is loading ...
  </li>
  <li>
    Please wait .....................
  </li>
  <li>
    Experiment will begin soon ...
  </li>
</ul>
