<div id="participantpagetitle">
  Sender - Receiver Interaction
</div>

<%= render(:partial => "waitmsg")  %>

<%= render(:partial => "coinflipmap")  %>


<%= render(:partial => "messagesendreceive") %>

<%= render(:partial => "activitymsgs") %>

