<!DOCTYPE html>
<html>
<head>
  <title>403 - Login Failed</title>
  <%= stylesheet_link_tag "application", "failedlogin" %>
  <%= javascript_include_tag :defaults  %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
